<div class="container">
  <!-- HEADER -->
  <header>
	<h1 class="global-logo"><a href="/">webtype</a>:admin</h1>
  </header>
  
  <h2>document</h2>
  
  <p>id: {{document.id}}</p>
  <p>url: <a href="/{{account.username}}/{{document.slug}}">/{{account.username}}/{{document.slug}}</a></p>
  <p>title: {{document.content.title}}</p>
  
  <p>raw data:</p>
  
  <pre>{{document.content.data.raw}}</pre>
  
  
</div>
