<div class="container">
  {{#unless user}}

  <h1><a href="/">owebbot</a></h1>

  <!-- no user -->
  <br>
  <div class="jumbotron">

    <h1>Blazing fast editing and publishing</h1>

    <h2>Quick Markdown Editing.</h2>
    <p>With then barebones simplicity of markdown and our super easy-to-use editor, you can format and send privately or publicly using our easy-to-use blogging feature.</h2>

    <h2>Blogging reimagined.</h2>
    <p>Easily create new blogs and edit them with ease. Add documents as posts and share them with your friends. Quick, easy, simnple. That's how we work.</p>

    <a href="/auth/login" class="button">login</a>
    <a href="/auth/register" class="button">register</a>

  </div>
  {{else}}

  <header>
    <div class="float-right">
      <a href="/@{{user.username}}"><i class="icon icon-user"></i></a>
      <a href="/auth/logout"><i class="icon icon-lock"></i></a>
    </div>

    <h1><a href="/">owebbot</a></h1>
  </header>

  <div class="document-heading">
    <div class="float-right">
      <a href="/c/d" data-tooltip="cmd+d"><span class="icon icon-plus"></span></a>
    </div>
    <h2>Documents</h2>
  </div>

  <div class="documents">
    {{#each document}}
    <div class="document">
      <div class="float-right">
        <a href="/e/d/{{id}}" class="edit"><span class="icon icon-document-new"></span></a>
        <a href="/d/{{id}}" class="delete"><span class="icon icon-trash"></span></a>
      </div>
      <h3>
        <a href="/@{{user.username}}/{{slug}}" class="doc-title">{{content.title}}</a>
        <br>
        <span class="date">{{date date.edited}}</span>
      </h3>
    </div>
    {{/each}}
  </div>

  {{/unless}}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<link href="/stylesheets/animate.css" rel="stylesheet" type="text/css">

<script>

    $(document).keydown(function(event) {
      if ((event.ctrlKey || event.metaKey) && event.which == 68) {
        console.log('event');
        window.location = '/c/d';
        event.preventDefault();
        return false;
      }
    });

</script>
