<div class="container">
  {{#unless user}}
  
  <h1><a href="/">Thunder</a></h1>
  
  <!-- no user -->
  <br>
  <div class="jumbotron">
    
    <h1>Create documents fast</h1>
    <p>With Thunder, you can create, edit, and send docs super fast.</p>
    
    <a href="/auth/login" class="button">login</a>
    <a href="/auth/register" class="button">register</a>
    
  </div>
  {{else}}
  
  <header>
    <div class="float-right">
      <a href="/auth/logout">logout</a>
    </div>
    
    <h1><a href="/">Thunder</a></h1>
  </header>
  
  <h2>Lists</h2>
  
  <a href="/c/l">Create new list</a>
  
  <div class="lists">
    
    {{#each list}}
    <div class="list">
      <div class="float-right">
        <h3></h3>
        <a href="/e/{{id}}" class="edit"><span class="icon icon-document-new"></span></a>
        <a href="/d/{{id}}" class="delete"><span class="icon icon-trash"></span></a>
      </div>
      <h3>
        <span class="date">{{date date.edited}}</span><br>
        <a href="/!{{user.username}}/{{slug}}" class="doc-title">{{content.title}}</a></h3>
    </div>
    {{else}}
    
    {{/each}}
    
  </div>
  
  <h2>Documents</h2>
  
  <a href="/c/d">Create new document</a>
  
  <div class="documents">
    {{#each document}}
    <div class="document">
      <div class="float-right">
        <h3></h3>
        <a href="/e/{{id}}" class="edit"><span class="icon icon-document-new"></span></a>
        <a href="/d/{{id}}" class="delete"><span class="icon icon-trash"></span></a>
      </div>
      <h3>
        <span class="date">{{date date.edited}}</span><br>
        <a href="/!{{user.username}}/{{slug}}" class="doc-title">{{content.title}}</a></h3>
    </div>
    {{/each}}
  </div>
  
  {{/unless}}
</div>

<!-- featherlight -->
<link href="/remodal/dist/remodal.css" rel="stylesheet" type="text/css">
<link href="/remodal/dist/remodal-default-theme.css" rel="stylesheet" type="text/css">
<script src="/featherlight/dist/remodal.min.js"></script>