<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- global styles -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="/webfont/webfont.css">
    <link rel="stylesheet" href="/stylesheets/drawer.min.css">

    <!-- app styles -->
    {{#unless view}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tooltip.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    {{else}}
    <link rel="stylesheet" href="/stylesheets/document.css">
    {{/unless}}

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("1faf49af1e5412fa61d515b9d1aa7276");</script>
    <!-- end Mixpanel -->

  </head>
  <body class="drawer drawer--left">
    {{#if editor}}
    <div class="global">
      <div class="container">
        <a class="global-item-action editor-preview" data-editor-user="{{user.username}}" href="/@{{user.username}}/{{document.slug}}" target="_blank"><i class="icon icon-export"></i></a>

        <a class="global-item" href="/">owebbot</a> 
        <span class="global-item">/</span>
        <a class="global-item" href="/@{{user.username}}">@{{user.username}}</a>
      </div>
    </div>
    {{/if}}


    {{#if user}}
    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        {{#unless editor}}
        <span class="icon icon-menu"></span>
        {{else}}
        <span class="editor-logo icon icon-menu"></span>
        {{/unless}}
      </button>
      <nav class="drawer-nav" role="navigation">
        <ul class="drawer-menu">

          <li><a class="drawer-brand" href="/">owebbot</a></li>

          <a href="/c/d" class="drawer-menu-item">New Document</a>
          
          {{#if editor}}

          <li><b class="drawer-menu-item">Current Document</b></li>

          <a class="drawer-menu-item" href="/d/d/{{document.id}}">Delete</a>

          <li><b class="drawer-menu-item">Documents ({{documents.length}})</b></li>

          {{#each documents}}
          <li>
            <a class="drawer-menu-item" href="/e/d/{{id}}">
              {{#if content.title}}{{truncate content.title}}{{else}}{{id}}{{/if}} <br>
              <span class="list-item-meta">edited {{formatRelative date.edited}}</span>
            </a>
            {{#equal document.id id}}
            <a href="/@{{../user.username}}/{{slug}}">preview</a>
            {{/equal}}
          </li>
          {{/each}}
          {{/if}}

          <li><b><a class="drawer-menu-item" href="/auth/logout">Logout</a></b></li>
        </ul>
      </nav>
    </header>
    {{/if}}
    <main role="main">
      {{{body}}}
    </main>
  </body>

  <!-- minified layout javascripts -->
  <script src="/dist/layout.js"></script>

  {{#if editor}}
  <script src="/dist/editor.js"></script>
  {{/if}}

</html>
