<div class="container">
  <!-- HEADER -->
  <header>
    <h1 class="global-logo"><a href="/">owebbot</a></h1>
  </header>

  <div class="list">
    <header class="list-header">
      <h1 class="list-header-title">{{result.name}}</h1>
      <p class="list-header-subtitle">@{{result.username}}</p>
    </header>
  </div>

  <div class="list">
    <div class="list-header">
      <h2 class="list-header-title">Documents ({{document.length}})</h2>
    </div>
    <div class="list-body">
      {{#each document}}
      <div class="list-item">
        <a class="list-item-header" href="/@{{../result.username}}/{{slug}}"><b>{{#if content.title}}{{content.title}}{{else}}{{id}}{{/if}}</b></a>
        <p class="list-item-meta">{{formatDate date.edited day="numeric" month="long" year="numeric"}}</p>
      </div>
      {{/each}}
    </div>
  </div>

</div>
