<div class="container">
  <!-- HEADER -->
  <header>
    <h1 class="global-logo"><a href="/">owebbot</a></h1>
  </header>

  <h1 class="title">{{result.username}}</h1>

  <h2>{{result.name}}</h2>

  {{#equal user.id result.id}}

  <h3>Update Account Data</h3>

  <form action="/auth/update" method="post" data-parsley-validate>

    <div class="form-group">
      <label for="email">Email</label>
      <input required name="email" placeholder="Email" id="email" type="email" value="{{result.email}}">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input required name="name" placeholder="Name" id="name" type="text" value="{{result.name}}">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input required name="username" placeholder="username" id="username" type="text" value="{{result.username}}">
    </div>

    <br>
    <button type="submit">Save Changes</button>

  </form>

  {{/equal}}

  <div class="list">
    <div class="list-header">
      <h2 class="list-header-title">Documents ({{document.length}})</h2>
    </div>
    <div class="list-body">
      {{#each document}}
      <div class="list-item">
        <a class="list-item-header" href="/@{{../result.username}}/{{slug}}"><b>{{content.title}}</b></a>
        <p class="list-item-meta">{{date date.edited}}</p>
      </div>
      {{/each}}
    </div>
  </div>

</div>
