<div class="container">

  <form method="post" data-id="{{document.id}}">


    <header>
      <div class="editor-actions">
        <span class="editor-save" data-editor-status>*</span>
      </div>
    </header>

    <input autocomplete="false" class="editor-title" name="title" type="text" placeholder="{{document.id}}" value="{{#if document.content.title}}{{document.content.title}}{{/if}}">
    <input type="hidden" name="id" value="{{document.id}}">

    <div class="editor-frame" data-editor-value="{{#if document.content.data.raw}}{{document.content.data.raw}}{{/if}}"></div>

  </form>

</div>

<!--codemirror-->
<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/stylesheets/github.css">
<link rel="stylesheet" href="/stylesheets/spell-checker.min.css">

<script src="/socket.io/socket.io.js"></script>
