<div class="container">

  <form action="/e/d/as/{{document.id}}" method="post" data-id="{{document.id}}">

    <div class="editor-actions">
      <span class="editor-save" data-editor-status>*</span>
    </div>

    <h1 class="global-logo">
      <a class="editor-logo" href="/">owebbot</a>
    </h1>


    <input autocomplete="false" class=editor-title name="title" type="text" placeholder="{{document.id}}" value="{{#if document.content.title}}{{document.content.title}}{{/if}}">

    <textarea autofocus="autofocus" id="content" name="content">{{#if document.content.data.raw}}{{document.content.data.raw}}{{/if}}</textarea>

  </form>

</div>

<!--codemirror-->
<link href="/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/github.css" rel="stylesheet" type="text/css">

<!-- custom code -->
<script src="/dist/editor.js"></script>
