 {{#if editor}}
  <div class="global">
    <div class="container editor">
      <span class="editor-save editor-action global-item-action tooltip-bottom" data-editor-status data-tooltip="status">◽</span>
      <a class="global-item-action editor-action editor-preview tooltip-bottom" data-tooltip="preview" data-editor-user="{{user.username}}" href="/{{user.username}}/{{document.slug}}/preview" target="_blank">👀</a>
      
      <span class="global-item-action editor-action editor-archive tooltip-bottom" data-tooltip="archive">🗄</span>
      
      {{#if document.draft}}
      <span class="global-item-action editor-action editor-draft tooltip-bottom" data-tooltip="draft. click to publish">🔒</span>
      <span class="global-item-action editor-action editor-publish editor-hidden tooltip-bottom" data-tooltip="published. click to draft">🔓</span>
      {{else}}
      <span class="global-item-action editor-action editor-draft editor-hidden tooltip-bottom" data-tooltip="draft. click to publish">🔒</span>
      <span class="global-item-action editor-action editor-publish tooltip-bottom" data-tooltip="published. revert to draft">🔓</span>
      {{/if}}
      
      
      <a class="global-item" href="/{{user.username}}">files</a>
      <span class="global-item">/</span>
      <span class="global-item-slug">{{document.slug}}</span>
    </div>
  </div>
  {{/if}}
 
 <div class="container">
   <form method="post" data-id="{{document.id}}">
 
     <section class="editor-body">
       <input autocomplete="false" class="editor-title" name="title" type="text" placeholder="{{document.id}}" value="{{#if document.content.title}}{{document.content.title}}{{/if}}">
       <input type="hidden" name="id" value="{{document.id}}">
 
       <div class="editor-frame" data-editor-value="{{#if document.content.data.raw}}{{document.content.data.raw}}{{/if}}"></div>
     </section>
 
   </form>
 
 </div> 
 
 <!--codemirror-->
 <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
 <link rel="stylesheet" href="/codemirror/theme/espresso-tutti.css">
 
 <script src="/socket.io/socket.io.js"></script>
