<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<div class="container">
  
  <p class="header-meta"><a href="/@{{account.username}}">{{account.name}}</a> on {{formatDate document.date.edited}}</p>

  
  {{#if document.content.title}}
  <h1><a class="header-title" href="/@{{account.username}}/{{document.slug}}">{{document.content.title}}</a></h1>
  {{else}}
  <h1><a class="header-title" href="/~{{document.id}}">{{document.id}}</a></h1>
  {{/if}}
    
  <!-- document content -->
  <div class="markdown-body">
    {{{document.content.data.html}}}
  </div>

</div>