<div class="container">

  <header>
    <h1><a href="/">owebbot</a></h1>
    <h2><a href="/@{{user.username}}">{{user.username}}</a> / <a href="/@{{user.username}}/{{blog.slug}}">{{blog.title}}</a></h2>
  </header>

<!-- Edit name -->

  <form action="/e/b/{{blog.id}}" method="post">

    <div class="form-group">

      <label for="name">Blog name</label>

      <input autocomplete="false" name="name" id="name" type="text" placeholder="Blog Name" value="{{#if blog.title}}{{blog.title}}{{/if}}">

      {{#if error}}
        {{error}}
      {{/if}}

    </div>

    <button type="submit" name="button">Save Changes</button>

<!-- Add documents -->

    <div class="document-heading">

      <div class="float-right">
        <a href="/c/d/in/b/{{blog.id}}" data-tooltip="create document in {{blog.title}}"><span class="icon icon-plus"></span></a>
      </div>

      <h2>Posts ({{blog.post.length}})</h2>

    </div>

    <div class="documents">

      {{#each blog.post}}

      <div class="document">
        <div class="float-right">
          <a href="/e/b/{{../blog.id}}/dd/{{_id}}" class="delete tooltip-left" data-tooltip="remove {{content.title}} from {{../blog.title}}"><span class="icon icon-thumbs-down"></span></a>
        </div>

        <h3><a href="/@{{user.username}}/{{slug}}" class="doc-title">{{content.title}}</a><br><span class="date">{{date date.edited}}</span></h3>

      </div>

      {{else}}

      <div class="document">
        <a href="/c/d/in/b/{{blog.id}}">Create a document in {{blog.title}}</a>
      </div>

      {{/each}}

    </div>

  </form>

</div>
